<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.bms.goods.dto.GoodsDTO" alias="GoodsDTO" />
		<typeAlias type="com.bms.goods.dto.ImageFileDTO" alias="ImageFileDTO" />
		<typeAlias type="com.bms.member.dto.MemberDTO" alias="MemberDTO" />
		<typeAlias type="com.bms.order.dto.OrderDTO" alias="OrderDTO" />
		<typeAlias type="com.bms.mypage.dto.MyPageDTO" alias="MypageDTO" />    
	</typeAliases>
	
</configuration>



